<html>
<head>
<title>Registration Form</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
<table border="1" align="center">
<tr>
   <td>full name</td>
   <td>
    <input type="text" name="fullname" required></td>
</tr>
<tr>
   <td>Gender</td>
<td>
<input type="radio" name="gender" value="male" required>male
<input type="radio" name="gender" value="female" required>female
</td>
</tr>
<tr>
     <td>mobile no.</td>
     <td>
      <input type="text" name="mobile" required>
     </td>
</tr>
<tr>
     <td>address</td>
     <td>
      <input type="text" name="address" required>
     </td>
</tr>
<tr>
     <td>email id</td>
     <td>
      <input type="email" name="emailid" required>
     </td>
</tr>
<tr>
     <td>password</td>
     <td>
      <input type="password" name="pwd" required>
     </td>
</tr>
<tr>     
     <td colspan="2" align="center">
      <input type="submit" value="create profile">
     </td>
</tr>
</table>
</form>
</body>
</html>
